<div class="max-w-4xl mx-auto py-8">
  <h1 class="text-4xl font-bold mb-6 text-center"><%= current_page.title %></h1>

  <% if content(:headline).present? %>
    <h2 class="text-2xl font-semibold mb-4"><%= content(:headline) %></h2>
  <% end %>

  <div class="prose mb-6">
    <%= content(:body) %>
  </div>

  <div class="mb-6">
    <%= current_spina_account.content(:line) %>
  </div>

  <% if has_content?(:repeater) %>
    <div class="space-y-4">
      <% content(:repeater).each do |project| %>
        <div class="bg-white p-4 rounded-lg shadow-md">
          <div class="prose">
            <%= project.content(:line) %>
          </div>
          <% if project.has_content?(:image) %>
            <% image = Spina::Image.find(project.content(:image).image_id) %>
            <%= image_tag main_app.url_for(image.file), class: "w-full h-full object-cover rounded-lg shadow-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if has_content?(:image_collection) %>
    <div class="grid grid-cols-2 gap-4 mt-6">
      <% content(:image_collection).each do |image_part| %>
        <% image = Spina::Image.find(image_part.image_id) %>
        <%= image_tag main_app.url_for(image.file), class: "w-full h-full object-cover rounded-lg shadow-sm" %>
      <% end %>
    </div>
  <% end %>
</div>
